<div
  class="container flex align-items-center justify-content-center min-h-screen"
>
  <p-card class="w-full md:w-10 lg:w-8">
    <div class="grid align-items-center">
      <div
        class="col-12 md:col-6 lg:col-6 text-center hidden sm:hidden md:hidden lg:block"
      >
        <img
          src="../../../assets/images/img-inicio-sesion.svg"
          alt=""
          class="w-full md:w-8 lg:w-full mx-auto"
        />
      </div>
      <div class="col-12 md:col-12 lg:col-6">
        <div class="text-center mb-3">
          <img
            src="assets/images/logo-verde-520px-espaciado.png"
            alt="Image"
            height="70"
          />
          <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
          <span class="text-600 font-medium line-height-3"
            >No tienes una cuenta?</span
          >
          <a
            (click)="this._router.navigate(['/auth/register'])"
            class="font-semibold ml-2 cursor-pointer text-primary-600 hover:text-primary-700"
            >Registrate!</a
          >
        </div>

        <div>
          <app-dynamic-form
            [formConfig]="formConfig"
            [formBtnConfig]="formActionButton"
            (onClick)="login($event)"
          ></app-dynamic-form>
          <div class="flex align-items-center justify-content-center mt-3">
            <a
              (click)="this._router.navigate(['/auth/recover-password'])"
              class="font-semibold ml-2 cursor-pointer text-primary-600 hover:text-primary-700"
              >Recuperar contraseña?</a
            >
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
