<p-card>
  <ng-template #header>
    <div class="flex justify-content-start align-items-center gap-1">
      <app-button
        variant="text"
        [color]="'primary'"
        [icon]="'bx bx-undo bx-sm'"
        [classList]="'ml-2'"
        (onClick)="goToReturnUrl()"
      ></app-button>
      <h3 class="text-primary-600">Crear usuario</h3>
    </div>
  </ng-template>

  <app-dynamic-form
    [formConfig]="formConfig"
    [formBtnConfig]="formActionButton"
    (onClick)="post($event)"
  ></app-dynamic-form>
</p-card>
