:host {
  display: block;
  margin: 0 auto;
  background: url("../../../assets/images/background-curveline.svg") no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 576px) {
  :host {
    background: none;
  }
}
