<div
  class="container flex align-items-center justify-content-center min-h-screen"
>
  <p-card class="w-full md:w-10 lg:w-8">
    <div class="grid align-items-center">
      <div
        class="col-12 md:col-6 lg:col-6 text-center hidden sm:hidden md:hidden lg:block"
      >
        <img
          src="../../../assets/images/img-inicio-sesion.svg"
          alt=""
          class="w-full md:w-8 lg:w-full mx-auto"
        />
      </div>
      <div class="col-12 md:col-12 lg:col-6">
        <div class="text-center mb-3">
          <img
            src="assets/images/logo-verde-520px-espaciado.png"
            alt="Image"
            height="70"
          />
          <div class="text-900 text-3xl font-medium mb-3">Crea tu cuenta!</div>
          <span class="text-600 font-medium line-height-3"
            >Ingresa la información solicitada</span
          >
        </div>

        <div>
          <form class="grid align-items-center" [formGroup]="formRegister">
            <div class="col-12">
              <p-floatlabel variant="on">
                <p-iconfield>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        formRegister.get('name')!.invalid &&
                        (formRegister.get('name')!.dirty ||
                          formRegister.get('name')!.touched)
                    }"
                    pInputText
                    id="name"
                    type="text"
                    formControlName="name"
                  />
                  <p-inputicon class="bx bxs-user" />
                </p-iconfield>
                <label for="name">Nombre completo</label>
              </p-floatlabel>
              <app-validators-form
                [form]="formRegister.controls"
                [field]="{ name: 'name' }"
              ></app-validators-form>
            </div>

            <div class="col-12">
              <p-floatlabel variant="on">
                <p-iconfield>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        formRegister.get('identificacion')!.invalid &&
                        (formRegister.get('identificacion')!.dirty ||
                          formRegister.get('identificacion')!.touched)
                    }"
                    pInputText
                    id="identificacion"
                    type="text"
                    formControlName="identificacion"
                  />
                  <p-inputicon class="bx bxs-id-card" />
                </p-iconfield>
                <label for="identificacion">Identificación</label>
              </p-floatlabel>
              <app-validators-form
                [form]="formRegister.controls"
                [field]="{
                  name: 'identificacion',
                  validators: { minLength: '5' }
                }"
              ></app-validators-form>
            </div>
            <div class="col-12">
              <p-floatlabel variant="on">
                <p-iconfield>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        formRegister.get('email')!.invalid &&
                        (formRegister.get('email')!.dirty ||
                          formRegister.get('email')!.touched)
                    }"
                    pInputText
                    id="email"
                    type="email"
                    formControlName="email"
                  />
                  <p-inputicon class="bx bxs-envelope" />
                </p-iconfield>
                <label for="email">Email</label>
              </p-floatlabel>
              <app-validators-form
                [form]="formRegister.controls"
                [field]="{ name: 'email' }"
              ></app-validators-form>
            </div>

            <div class="col-12">
              <p-floatlabel variant="on">
                <p-iconfield>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        formRegister.get('password')!.invalid &&
                        (formRegister.get('password')!.dirty ||
                          formRegister.get('password')!.touched)
                    }"
                    pInputText
                    id="password"
                    type="password"
                    formControlName="password"
                  />
                  <p-inputicon class="bx bxs-key" />
                </p-iconfield>
                <label for="password">Password</label>
              </p-floatlabel>
              <app-validators-form
                [form]="formRegister.controls"
                [field]="{ name: 'password', validators: { minLength: '6' } }"
              ></app-validators-form>
            </div>
            <div class="col-12">
              <p-floatlabel variant="on">
                <p-iconfield>
                  <input
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                        formRegister.get('password_confirmation')!.invalid &&
                        (formRegister.get('password_confirmation')!.dirty ||
                          formRegister.get('password_confirmation')!.touched)
                    }"
                    pInputText
                    id="confirmPassword"
                    type="password"
                    formControlName="password_confirmation"
                  />
                  <p-inputicon class="bx bxs-key" />
                </p-iconfield>
                <label for="confirmPassword">Confirmar Password</label>
              </p-floatlabel>
              <app-validators-form
                [form]="formRegister.controls"
                [field]="{
                  name: 'password_confirmation',
                  validators: { minLength: '6' }
                }"
              ></app-validators-form>
            </div>
            <div class="col-12">
              <p-button
                label="Registrarse"
                severity="primary"
                icon="bx bx-door-open"
                styleClass="w-12"
                [disabled]="formRegister.invalid"
                [loading]="loading"
                (click)="register()"
              ></p-button>
            </div>
          </form>

          <div class="flex align-items-center justify-content-center mt-3">
            <a
              (click)="this._router.navigate(['/auth/login'])"
              class="font-semibold ml-2 cursor-pointer text-primary-600 hover:text-primary-700"
              >¿Ya tienes una cuenta?</a
            >
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
