<p-message styleClass="mb-4" *ngIf="!entities" severity="info"
  >Recuerde que tiene pendientes configuraciones por realizar, como crear
  medicos, farmacias y laboratorios.</p-message
>

<p-card>
  <ng-template #header>
    <div class="flex justify-content-start align-items-center gap-1">
      <h3 class="text-primary-600 ml-4">Información de la Entidad de Salud</h3>
    </div>
  </ng-template>

  <form class="grid align-items-center" [formGroup]="form">
    <div class="col-12">
      <p-floatlabel variant="on">
        <p-select
          size="small"
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get('utilidad_tipo_identificacion_id')!.invalid &&
              (form.get('utilidad_tipo_identificacion_id')!.dirty ||
                form.get('utilidad_tipo_identificacion_id')!.touched)
          }"
          [(ngModel)]="selectedItemsIdentification"
          [options]="listIdentification"
          id="tipo_identificacion"
          formControlName="utilidad_tipo_identificacion_id"
          optionLabel="nombre"
          [filter]="true"
          filterBy="nombre"
          [showClear]="true"
          optionValue="id"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.nombre }}</div>
          </ng-template>
          <ng-template let-data #item>
            <div>{{ data.nombre }}</div>
          </ng-template>
        </p-select>
        <label for="tipo_identificacion">Tipo de identificacion</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{ name: 'utilidad_tipo_identificacion_id' }"
      ></app-validators-form>
    </div>
    <div class="col-12">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get('identificacion')!.invalid &&
                (form.get('identificacion')!.dirty ||
                  form.get('identificacion')!.touched)
            }"
            pInputText
            id="identificacion"
            type="text"
            formControlName="identificacion"
          />
          <p-inputicon class="bx bxs-id-card" />
        </p-iconfield>
        <label for="identificacion">Identificación</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{
          name: 'identificacion',
          validators: { minLength: '3' }
        }"
      ></app-validators-form>
    </div>
    <div class="col-12">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get('razon_social')!.invalid &&
                (form.get('razon_social')!.dirty ||
                  form.get('razon_social')!.touched)
            }"
            pInputText
            id="razon_social"
            type="text"
            formControlName="razon_social"
          />
          <p-inputicon class="bx bxs-user" />
        </p-iconfield>
        <label for="razon_social">Razon social</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{ name: 'razon_social' }"
      ></app-validators-form>
    </div>

    <div class="col-12">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get('telefonos')!.invalid &&
                (form.get('telefonos')!.dirty || form.get('telefonos')!.touched)
            }"
            pInputText
            id="telefonos"
            type="text"
            formControlName="telefonos"
          />
          <p-inputicon class="bx bxs-id-card" />
        </p-iconfield>
        <label for="telefonos">Contactos</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{
          name: 'telefonos',
        }"
      ></app-validators-form>
    </div>

    <div class="col-12">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get('direccion')!.invalid &&
                (form.get('direccion')!.dirty || form.get('direccion')!.touched)
            }"
            pInputText
            id="direccion"
            formControlName="direccion"
          />
          <p-inputicon class="bx bxs-key" />
        </p-iconfield>
        <label for="direccion">Direccion</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{ name: 'direccion', validators: { minLength: '6' } }"
      ></app-validators-form>
    </div>

    <div class="col-12">
      <p-floatlabel variant="on">
        <p-select
          size="small"
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get('utilidad_departamento_id')!.invalid &&
              (form.get('utilidad_departamento_id')!.dirty ||
                form.get('utilidad_departamento_id')!.touched)
          }"
          [(ngModel)]="selectedItemsDepartaments"
          [options]="listDepartaments"
          id="departamento_id"
          formControlName="utilidad_departamento_id"
          optionLabel="nombre"
          [filter]="true"
          filterBy="nombre"
          [showClear]="true"
          optionValue="id"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.nombre }}</div>
          </ng-template>
          <ng-template let-data #item>
            <div>{{ data.nombre }}</div>
          </ng-template>
        </p-select>
        <label for="departamento_id">Departamento</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{ name: 'utilidad_departamento_id' }"
      ></app-validators-form>
    </div>
    <div class="col-12">
      <p-floatlabel variant="on">
        <p-select
          size="small"
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get('utilidad_ciudad_id')!.invalid &&
              (form.get('utilidad_ciudad_id')!.dirty ||
                form.get('utilidad_ciudad_id')!.touched)
          }"
          [(ngModel)]="selectedItemsCities"
          [options]="listCities"
          id="ciudad_id"
          formControlName="utilidad_ciudad_id"
          optionLabel="nombre"
          [filter]="true"
          filterBy="nombre"
          [showClear]="true"
          optionValue="id"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.nombre }}</div>
          </ng-template>
          <ng-template let-data #item>
            <div>{{ data.nombre }}</div>
          </ng-template>
        </p-select>
        <label for="ciudad_id">Ciudad</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{ name: 'utilidad_ciudad_id' }"
      ></app-validators-form>
    </div>
    <div class="col-12">
      <p-floatlabel variant="on">
        <textarea
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get('descripcion')!.invalid &&
              (form.get('descripcion')!.dirty ||
                form.get('descripcion')!.touched)
          }"
          pTextarea
          id="descripcion"
          formControlName="descripcion"
          rows="5"
          cols="30"
          style="resize: none"
          class="w-full h-full"
        ></textarea>
        <label for="descripcion">Descripcion</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="{ name: 'descripcion', validators: { minLength: '6' } }"
      ></app-validators-form>
    </div>
    <div class="col-12">
      <p-button
        label="Guardar"
        severity="primary"
        icon="bx bx-save"
        styleClass="w-12"
        [disabled]="form.invalid"
        [loading]="loading"
        (click)="post()"
      ></p-button>
    </div>
  </form>
</p-card>
