<div class="container">
  <p-card>
    <p-toolbar styleClass="p-0 m-0 w-full border-0">
      <ng-template #start>
        <a
          (click)="onNavigate()"
          class="flex align-items-center gap-2 cursor-pointer"
        >
          <img
            src="assets/images/logo-nombre-verde-512px.png"
            alt=""
            srcset=""
            class="w-10rem"
          />
        </a>
        <app-button
          variant="text"
          [color]="'primary'"
          [icon]="'bx bx-menu bx-sm'"
          (click)="openSidebar()"
        ></app-button>
      </ng-template>

      <ng-template #end>
        <div class="flex align-items-center gap-2">
          <app-button
            [variant]="'text'"
            [color]="toggle ? 'success' : 'warn'"
            [icon]="toggle ? 'bx bx-moon bx-sm' : 'bx bx-sun bx-sm'"
            (click)="toogleDarkMode()"
          ></app-button>
          <div>
            <p-menu #menu [model]="items" [popup]="true" />
            <app-button
              [variant]="'text'"
              [color]="'primary'"
              [icon]="'bx bx-category-alt bx-sm'"
              (click)="menu.toggle($event)"
            ></app-button>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </p-card>

  <app-sidebar></app-sidebar>
  <p-divider />
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
</div>
