<p-message styleClass="mb-4" *ngIf="!entities" severity="info"
  >Recuerde que tiene pendientes configuraciones por realizar, como crear
  medicos, farmacias y laboratorios.</p-message
>
<p-card>
  <ng-template #header>
    <div class="flex justify-content-start align-items-center gap-1">
      <h3 class="text-primary-600 ml-4">Información de la Entidad de Salud</h3>
    </div>
  </ng-template>
  <app-dynamic-form
    [formConfig]="formConfig"
    [formBtnConfig]="formActionButton"
    (onClick)="action($event)"
  ></app-dynamic-form>
</p-card>
