<div class="container">
  <div class="grid">
    <div class="col-12 md:col-4">
      <p-card header="Dynamic Form" styleClass="mb-5">
        <app-dynamic-form
          [formConfig]="formConfig"
          (onClick)="post($event)"
        ></app-dynamic-form>
      </p-card>
      <app-skeleton [type]="'table'" [columns]="columns"></app-skeleton>
    </div>

    <div class="col-12 md:col-8">
      <app-table
        [data]="users"
        [columns]="columns"
        [rows]="rows"
        [first]="first"
        [totalRecords]="totalRecords"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (filtered)="get($event)"
        (pageChange)="onPageChange($event)"
      ></app-table>
    </div>
  </div>
</div>
